
    @using RecipeForum.ViewModels
    @model List<RecipeListViewModel>
    @{
        ViewBag.Title = "Breakfast Recipe List";
    }

    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    @if (Model.Count() > 0)
    {
        <div class="row">

            @foreach (var recipe in Model)
            {
                <div class="card .bg-light col-5 ml-3 m-1">
                    <blockquote>
                        <p>Name: @recipe.Name</p>
                        <p>Cooking time: @recipe.PrepTime min.</p>
                        <p>Prep time: @recipe.CookingTime min.</p>
                        <p>Category: @recipe.Category</p>
                        <a href="@Url.Action("FocusRecipe", "Recipes", new {id = recipe.Id})" class="btn btn-primary">See more</a>
                    <a href="@Url.Action("DeleteRecipe", "Recipes", new {DeleteId = recipe.Id})" class="btn btn-primary">Delete</a>
                    </blockquote>
                </div>
            }
        </div>

    }
    else
    {
        <p class="text-center">NO CREATIVITY HERE</p>
    }

